[submodule "robertogracias/odoosv"]
	path = robertogracias/odoosv
	url = git@github.com:robertogracias/odoosv.git
	branch = 12.0

[submodule "robertogracias/wallet"]
	path = robertogracias/wallet
	url = git@github.com:robertogracias/wallet.git
	branch = master
